body {
    background-color: rgb(85, 107, 180);
    font-family: "Raleway", sans-serif;
    text-align: center;
}

.fa-solid {
    margin-right: 15px;
}

#gameBoard {
    width: 1200px;
    height: 650px;
    background: #111111;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border: 5px;
}

.none {
    display: none;
}

#heading {
    text-align: center;
    font-size: 2.5rem;
    font-size: 300%;
}

#rules {}

.logo {}

#scoreText {
    margin: 5px auto;
    width: 60%;
    font-size: 3rem;
}

#resetBtn {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
}

/* Media for mobile screens */
@media (max-width: 440px) {
    #gameBoard {
        width: 90%;
        height: 60%;
        background: #111111;
        display: block;
        margin: auto;
        margin-bottom: 30px;
    }

    #scoreText {
        margin: 5px auto;
        width: 60%;
        font-size: 2rem;
    }
}